<ion-header>
    <ion-toolbar class="new-background-color" mode="ios">
      <ion-title>
        Forma de Pago
      </ion-title>
      <ion-buttons  slot="end">
          <ion-button fill="outline" (click)="close()"><ion-icon name="close"></ion-icon></ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>  

  </ion-content>

  <ion-footer>
      <ion-toolbar mode="ios">
            <ion-buttons  slot="end">
                <ion-button  color="danger" fill="solid" (click)="close()"><ion-icon name="arrow-back" slot="start"></ion-icon>Atras</ion-button>
                <ion-button  color="success" fill="solid" (click)="facturar()"><ion-icon name="arrow-forward" slot="end"></ion-icon>FACTURAR</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-footer>